@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500&display=swap');

@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #999999;
    background: #1f1f1f;
    line-height: 1.7;
    overflow-x: hidden;
}

.offcanvas-overlay {
	backdrop-filter: none;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sppb-btn.active, .sppb-btn:active {
  background-image: inherit !important;
}

.sppb-btn.focus, 
 .sppb-btn:active:focus, 
 .sppb-btn:active:hover, 
 .sppb-btn:focus, 
 .sppb-btn:hover {
  outline: 0;
}

.sppb-btn.circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.sppb-btn.active, .sppb-btn:active {
  outline: 0;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

.sppb-optin-form .sppb-btn i:first-child {display: none;}

form.sppb-optin-form.submit-button-inside .button-wrap {
	top: 50% !important;
	transform: translatey(-50%);
}

#sp-footer {
	font-size: inherit;
position: relative;
z-index: 2;
}

#sp-footer #sp-footer2 {
	text-align: inherit;
}

.sp-scroll-up {
	background: var(--maincolor);
}

.text-underline {
	text-decoration: underline;
}

.sppb-addon-optin-forms .sppb-optin-form-details-wrap:not(:empty) {
	padding: 0;
}

select.sppb-form-control:not([size]):not([multiple]) {
	height: inherit;
}

.sppb-form-builder-btn .sppb-btn i {display: none;}

.z-index2 {z-index: 2 !important;}
.z-index0 {z-index: 0 !important;}

.sppb-media-heading {
	margin: 0;
}

.sppb-sp-slider-image {overflow: hidden;}

.sp-slider img {
	height: auto !important;
	width: auto !important;
}

.sppb-addon-clients .sppb-carousel-extended-item {
	padding: 0;
}

@media (max-width: 768px) {
	.sppb-addon-clients img {margin-bottom: 20px;}
}

.sppb-addon-header > * {color: inherit !important;}

body .sppb-btn,
body .sppb-sp-slider-button .sp-slider-btn-text,
.login .form-validate .btn-primary,
.hikashop_vote_form .button {
    display: block;
    text-align: center;
    padding: 11px 58px 10px 58px;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    transition: .3s;
    cursor: pointer;
	line-height: 1.7;
}

body .sppb-btn.sppb-btn-primary,
body .sppb-sp-slider-button .sp-slider-btn-text,
.login .form-validate .btn-primary,
.hikashop_vote_form .button {
    background: #4d94ec;
    color: #000000;
    border: 2px solid #4d94ec;
}

body .sppb-btn.sppb-btn-primary:hover,
body .sppb-sp-slider-button .sp-slider-btn-text:hover,
.login .form-validate .btn-primary:hover,
.hikashop_vote_form .button:hover {
    background: none;
    color: #4d94ec;
}

body .sppb-btn.sppb-btn-secondary,
body .sppb-sp-slider-button.slider-btn2 .sp-slider-btn-text {
	background: var(--secondcolor);
	color: #000;
}

body .sppb-btn.sppb-btn-secondary:before,
body .sppb-sp-slider-button.slider-btn2 .sp-slider-btn-text:before {
	border: 3px solid var(--secondcolor);
}

body .sppb-btn.sppb-btn-secondary:hover,
body .sppb-sp-slider-button.slider-btn2 .sp-slider-btn-text:hover {
	background: var(--secondcolor);
}

body .sppb-btn:hover:before,
body .sppb-sp-slider-button .sp-slider-btn-text:hover:before,
.login .form-validate .btn-primary:hover:before,
.hikashop_vote_form .button:hover:before {
	width: 30%;
}

body .sppb-btn.sppb-btn-default {

}

body .sppb-btn.sppb-btn-default:hover {

}

.sppb-btn i,
a.d-block em,
.sppb-sp-slider-button .sp-slider-btn-text i,
.sppb-btn:not(.hikacart) span {
    font-size: 24px;
    margin-right: 10px;
    display: block;
    margin-bottom: 3px;
}

.full-width-image .sppb-addon-single-image-container {width: 100%; display: block;}
.full-width-image .sppb-addon-single-image-container img {width: 100%;}

.sppb-btn span {
    position: relative;
}

.sppb-progress {
	border-radius: 45px;
}

.sppb-addon-clients .sppb-carousel-extended-item img {
	margin: auto;
	text-align: center;
	display: block;
}

.f-weight-400 {
	font-weight: 400;
}


.sp-slider div[class^="sppb-col"] {position: static;}

.sppb-icon .sppb-icon-container > i {
	width: auto !important;
	height: auto !important;
	line-height: inherit !important;
}

.sppb-text-left.animated-number-position-bottom .sppb-addon-content, .sppb-text-left.animated-number-position-left .sppb-addon-content {
	align-items: center;
}

.sppb-carousel-extended-list .sppb-carousel-extended-outer-stage {
	height: auto !important;
}

body .sppb-addon-optin-forms {
	padding: 0px;
}

.sppb-addon-table-main td {
	color: inherit;
	font-size: inherit;
}

.com-finder .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	display: flex;
	align-items: center;
}

.com-finder .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) span {
margin-right: 5px;	
}

.center-section > .sppb-container-inner > .sppb-row,
.center-section  > .sppb-row {
	justify-content: center;
}

.even-section > .sppb-container-inner > .sppb-row,
.even-section  > .sppb-row {
	justify-content: space-between !important;
}

#sp-main-body .sppb-section .sppb-container-inner, #sp-main-body .sppb-section div[class^="sppb-col-"], #sp-main-body .sppb-section .sppb-column, #sp-main-body .sppb-section .sppb-column-addons, #sp-main-body .sppb-section .sppb-row-container {position: static;}

.relative-section .sppb-container-inner, .relative-section div[class^="sppb-col-"], .relative-section .sppb-column, .relative-section .sppb-column-addons {position: static;}

.nowraprow > .sppb-container-inner > .sppb-row {flex-wrap: nowrap;}

#sp-top {
	position: relative;
	z-index: 999;
}

#sp-top > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-top > .container > .container-inner > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-header > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-header > .container > .container-inner > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-logo-section > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-logo-section > .container > .container-inner > .row {
	-ms-flex-align: center !important;
	align-items: center !important;
}

#sp-footer, #sp-bottom {
	background: inherit;
}

.sppb-carousel-extended-description {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}

.sppb-ajaxt-contact-form i:first-child {display: none;}

@media (max-width: 1400px) {
  .sppb-addon-articles .sppb-col-sm-3 {
  -ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .sppb-addon-articles .sppb-col-sm-4 {
  -ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
  }
}

@media (max-width: 992px) {
  .sppb-addon-articles .sppb-col-sm-4,
  .sppb-addon-articles .sppb-col-sm-3,
  .sppb-addon-articles .sppb-col-sm-6 {
  -ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
  }
}

@media (max-width: 768px) {
  .sppb-addon-articles .sppb-col-sm-4,
  .sppb-addon-articles .sppb-col-sm-3,
  .sppb-addon-articles .sppb-col-sm-6 {
  -ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
  }
}

.width-auto .sppb-column-addons {width: auto;}

.sp-slider-content-align-left .sppb-sp-slider-button {
	margin-left: 0;
	margin-right: 45px;
}

@media (max-width: 768px) {
.sp-slider-content-align-left .sppb-sp-slider-button {
	margin-right: 0px;
	margin-bottom: 30px;
}
}

/* HEADER */ 

#sp-header {
height: auto;
box-shadow: none;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
background: #1f1f1f;
position: absolute;
padding: 25px 0;
}

#sp-header.header-sticky {
background: #1f1f1f;
-webkit-animation: sticky 1.2s;
animation: sticky 1.2s;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

#sp-header .logo {
	height: auto;
}

#sp-header .logo img {
	height: auto;
}

.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span,
.sp-megamenu-parent > li:last-child > a {
color: #fff;
display: block;
transition: .3s;
padding: 8px 12px;
font-size: 16px;
line-height: 1.7;
font-weight: 400;
}

.sp-megamenu-parent > li.active > a:hover,
.sp-megamenu-parent > li:hover > a,
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a, .sp-megamenu-parent > li.active:hover > a {
color: var(--maincolor);
font-weight: 400;
}

body.ltr .sp-megamenu-parent > li.sp-has-child > a::after, body.ltr .sp-megamenu-parent > li.sp-has-child > span::after {
	display: none;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
background: #000;
box-shadow: 1px 6px 20px rgb(0 0 0 / 20%);
padding: 5px 0;
}

.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a, .sp-megamenu-parent .sp-dropdown li.sp-menu-item span:not(.sp-menu-badge),
.sp-megamenu-parent .sp-mega-group > li > a {
padding: 8px 15px;
line-height: 1.2;
color: #fff;
font-size: 16px;
}

.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover,
.sp-megamenu-parent .sp-mega-group > li > a:hover {
color: var(--maincolor);
}

#offcanvas-toggler {
	display: inline-flex;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	position: relative;
	z-index: 22;
	height: auto;
}

.burger-icon > span {
	background-color: var(--maincolor);
}

#sp-header.header-sticky .burger-icon > span {
	background-color: var(--maincolor);
}

.offcanvas-active .burger-icon > span, #modal-menu-toggler.active .burger-icon > span {
	background-color: #fff;
}

.offcanvas-menu .offcanvas-inner ul.menu li.active a {
	color: #fff !important;
}

.close-offcanvas {
	z-index: 99;
}

@media (max-width: 992px) {
.offcanvas-menu {
	background-color: var(--maincolor);
	color: #fff;
}
.offcanvas-menu .offcanvas-inner a {
	color: #fff;
}

.offcanvas-menu .offcanvas-inner a:hover, .offcanvas-menu .offcanvas-inner a:focus, .offcanvas-menu .offcanvas-inner a:active {
	color: #fff;
}

.offcanvas-menu .p-3 {
	padding: 0 !important;
}

.offcanvas-menu .offcanvas-inner .sp-module ul > li a, .offcanvas-menu .offcanvas-inner .sp-module ul > li span,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler, .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler, .offcanvas-menu .offcanvas-inner .sp-module ul > li ul li a, .offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li a:focus, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:focus {
	color: #fff;
}

.offcanvas-menu .logo {display: none;}

.offcanvas-menu .offcanvas-inner {
	padding: 50px 25px;
}

.offcanvas-menu .offcanvas-inner ul.menu > li > a, .offcanvas-menu .offcanvas-inner ul.menu > li > span {
	opacity: 1;
}
}

.offcanvas-menu {
	background: #191919;
}

.offcanvas-menu .offcanvas-inner {
	padding: 25px 25px 25px 40px;
}

.menu li a:before {
font-family: 'Line Awesome Free';
font-weight: 900;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
font-size: 20px;
margin-bottom: 2px;	
margin-right: 10px;
transition: .3s;
}

.menu li.item-123 a:before {
  content: "\f015";
}
.menu li.item-124 a:before {
  content: "\f007";
}
.menu li.item-125 a:before {
  content: "\f0b1";
}
.menu li.item-126 a:before {
  content: "\f550";
}
.menu li.item-127 a:before {
  content: "\f61f";
}
.menu li.item-128 a:before {
  content: "\f58e";
}
.menu li.item-129 a:before {
  content: "\f075";
}
.menu li.item-130 a:before {
  content: "\f0e0";
}

.offcanvas-menu .offcanvas-inner ul.menu {padding: 24px 0;}

.offcanvas-menu .offcanvas-inner ul.menu > li > a {
	position: relative;
	right: 0;
	opacity: 1;
	visibility: visible;
	color: #999999;
	font-size: 12px;
	background: none;
	margin: 0;
	padding: 10px 0;
	border-radius: 0;
	line-height: 1.7;
	display: flex;
align-items: center;
font-weight: 400;
transition: .3s;
}

.offcanvas-menu .offcanvas-inner ul.menu > li > a:hover {color: #fff;}
.offcanvas-menu .offcanvas-inner ul.menu > li > a:hover:before {color: var(--maincolor);}


/* */

/* PAGE TITLE */

#sp-title {
	position: relative; 
overflow: hidden;
}

#sp-title .sp-module {
	height: 100%;
	position: absolute;
	width: 100%;
}

#sp-title .sp-module .sp-module-content,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content .sppb-section,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content .sppb-section > .sppb-container-inner,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content .sppb-section > .sppb-container-inner > .sppb-row > div,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content .sppb-section > .sppb-container-inner > .sppb-row > div > .sppb-column,
#sp-title .sp-module .sp-module-content .mod-sppagebuilder .page-content .sppb-section > .sppb-container-inner > .sppb-row > div > .sppb-column > .sppb-column-addons {height: 100%; position: static !important;}

.sp-page-title {
position: relative;
background-size: cover;
background-position: center;
padding: 50px 0px 50px;
}

.sp-page-title:before,
.sp-page-title:after {
  content: '';
  position: absolute;
  left: -50px;
  top: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(255 255 255 / 10%);
  z-index: 0;
  box-shadow: 0px 0px 0 20px rgb(255 255 255 / 5%);
}

.sp-page-title:after {
	left: auto;
	right: -50px;
	top: auto;
	bottom: -50px;
}

.sp-page-title .container {
position: relative;
z-index: 1;	
}

.sp-page-title .sp-page-title-heading {
font-size: 45px;
color: #fff;
font-weight: 300;
margin-bottom: 20px;
line-height: 1.2;
}

@media (max-width: 992px) {
.sp-page-title .sp-page-title-heading {
font-size: 36px;
}
}

@media (max-width: 768px) {
.sp-page-title .sp-page-title-heading {
font-size: 28px;
}
}

.sp-page-title .sp-page-title-sub-heading {
font-size: 16px;
line-height: 30px;
color: #555;
margin: 0;
font-weight: 400;
}

.sp-page-title .breadcrumb {
margin: 0;
display: flex;
align-items: center;
gap: 10px;
}

.sp-page-title .breadcrumb > li.float-start {display: none;}

.sp-page-title .breadcrumb > li > a {
text-transform: uppercase;
color: #d1d1d1;
font-size: 14px;
position: relative;
display: flex;
align-items: center;
font-weight: 500;
color: #ffffff;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 6px;
}

.breadcrumb-item + .breadcrumb-item::before {
	padding-right: 12px;
}

.sp-page-title .breadcrumb > li + li::before {
text-transform: capitalize;
font-size: 14px;
}

.sp-page-title .breadcrumb > .active span {
text-transform: uppercase;
color: #d1d1d1;
font-size: 14px;
position: relative;
display: flex;
align-items: center;
}

/* */

#sp-header.header-sticky ~ section#sp-main-body {
	padding-top: 0;
}
.com-content #sp-main-body,
.com-j2store #sp-main-body,
.com-tags #sp-main-body,
.com-spsimpleportfolio #sp-main-body,
.com-search #sp-main-body,
.com-finder #sp-main-body,
.com-hikashop #sp-main-body,
.com-users #sp-main-body  {
	padding: 100px 0 100px;
}

.com-hikashop #sp-main-body {padding-bottom: 100px;}
.com-content #sp-main-body {padding-bottom: 60px;}
.com-content.view-article #sp-main-body {padding-bottom: 100px;}

.com-spsimpleportfolio #sp-main-body {
	z-index: 2;
	position: relative;
}


.com-content #sp-header.header-sticky ~ section#sp-main-body,
.com-j2store #sp-header.header-sticky ~ section#sp-main-body,
.com-tags #sp-header.header-sticky ~ section#sp-main-body,
.com-spsimpleportfolio #sp-header.header-sticky ~ section#sp-main-body,
.com-search #sp-header.header-sticky ~ section#sp-main-body,
.com-finder #sp-header.header-sticky ~ section#sp-main-body,
.com-hikashop #sp-header.header-sticky ~ section#sp-main-body,
.com-users #sp-header.header-sticky ~ section#sp-main-body  {
	padding-top: 120px;
}


/* SIDEBAR */

.sidebar-class  .sppb-row-container {width: 100% !important; }
.sidebar-class.com-sppagebuilder #sp-main-body {margin: 0 auto;}
@media (min-width: 768px) {
.sidebar-class.com-sppagebuilder #sp-main-body {max-width: 750px;}
}
@media (min-width: 992px) {
.sidebar-class.com-sppagebuilder #sp-main-body {max-width: 970px;}
}
@media (min-width: 1200px) {
.sidebar-class.com-sppagebuilder #sp-main-body {max-width: 1170px;}

#sppb-addon-wrapper-234243 {
	display: none !important;
}
#section-id-1685407034758 {
    border-right: 1px solid #303030 !important;
}
}

.com-sppagebuilder #sp-right, .com-sppagebuilder #sp-left {
	padding-top: 50px;
	padding-bottom: 130px;
	position: relative;
}

#sp-left .sp-module, #sp-right .sp-module {
	border: 0px solid #f3f3f3;
	padding: 0;
	border-radius: 0px;
}

#sp-left .sp-module ul > li, #sp-right .sp-module ul > li {
	display: block;
	border-bottom: 0px solid #f3f3f3;
}

.category-module li, .categories-module li, .archive-module li, .latestnews li, .newsflash-horiz li, .mostread li, .form-links li, .list-striped li {
	padding: 0;
}

/* */

/* LOGIN */

/* */

/* CUSTOM CLASS */

#sp-position1 {position: relative; z-index: 2;}


@media (min-width: 1200px) {
#sp-author-section #sp-position1 .sp-module  .left-sidebar {
	position: fixed !important;
	left: 20px !important;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10 !important;
	max-width: 350px !important;
	min-width: 350px !important;
	margin: 0 !important;
	margin-top: 0 !important;
}
}

.resume-area-item::before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: #656565;
	border-radius: 50%;
	left: -6px;
	top: 7px;
	transition: .3s;
}

.resume-area-item::after {
	content: '';
	background: #333333;
	width: 1px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 10px;
	z-index: -1;
}

.resume-area-item:hover::before {
	background: var(--maincolor);
}

.resume-area-item span {
	display: block;
	transition: .3s;
}

.resume-area-item:hover span {
	color: var(--maincolor) !important;
}

/* */


/* BLOG */

.article-list .article,
.sppb-addon-articles .sppb-addon-article {
	padding: 0;
	border: 0;
	position: relative;
	transition: all 0.3s ease-out;
	overflow: hidden;
	padding-bottom: 40px;
	margin: 0;
}

.article-list .article .article-intro-image, .article-list .article .article-featured-video, .article-list .article .article-featured-audio, .article-list .article .article-feature-gallery, .sppb-addon-articles .sppb-addon-article .sppb-article-img-wrap {
	margin: 0;
	border-bottom: 0px solid #f5f5f5;
	overflow: hidden;
	position: relative;
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	max-height: 255px;
}

.articles-leading .article .article-intro-image, .articles-leading .article .article-featured-video, .articles-leading .article .article-featured-audio, .articles-leading .article .article-feature-gallery {

}

.article-list .article .article-intro-image:after, .article-list .article .article-featured-video:after, .article-list .article .article-featured-audio:after, .article-list .article .article-feature-gallery:after, .sppb-addon-articles .sppb-addon-article .sppb-article-img-wrap:after {

}

.article-list .article:hover .article-intro-image:after, .article-list .article:hover .article-featured-video:after, .article-list .article:hover .article-featured-audio:after, .article-list .article:hover .article-feature-gallery:after, .sppb-addon-articles .sppb-addon-article .sppb-article-img-wrap:after {

}

.article-list .article .article-intro-image img, .article-list .article .article-featured-video img, .article-list .article .article-featured-audio img, .article-list .article .article-feature-gallery img, .sppb-addon-articles .sppb-addon-article .sppb-article-img-wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 6px;
}

.articles-leading .article .article-intro-image img, .articles-leading .article .article-featured-video img, .articles-leading .article .article-featured-audio img, .articles-leading .article .article-feature-gallery img {
	width: auto;
	height: auto;
}

.article-list .article:hover .article-intro-image img, .article-list .article:hover .article-featured-video img, .article-list .article:hover .article-featured-audio img, .article-list .article:hover .article-feature-gallery img, .sppb-addon-articles .sppb-addon-article:hover .sppb-article-img-wrap img {

}

.article-intro-image > a, .sppb-addon-articles .sppb-addon-article .sppb-article-img-wrap {width: 100%;}

.article-body,
.sppb-article-info-wrap {
display: flex;
flex-direction: column;
align-items: center;
-webkit-box-flex: 0;
position: relative;
margin-top: -22px;
padding: 0 20px;
justify-content: center;
text-align: center;
}

.blog-list .article-body {
text-align: left;
padding: 0;
margin: 0;
align-items: flex-start;
}

.article-list .article .article-header, .sppb-article-info-wrap h3 {order: 2;}

.article-list .article .article-header h2,
.sppb-article-info-wrap h3 {
line-height: 1.2;
margin-bottom: 20px;
font-size: 25px;
color: #fff;
display: inline-block;
}

.blog-list .article-list .article .article-header h2 {
	font-size: 28px;
	display: inline-block;
	background: linear-gradient(to top right,var(--maincolor) -200%,transparent 300%);
	background-repeat: no-repeat;
	background-size: 0 0.0625em;
	background-position: 0 95%;
	transition: .25s;
}

.blog-list .article-list .article .article-header h2:hover {
	background-size: 100% 0.3625em;
}

@media (max-width: 768px) {
.article-list .article .article-header h2,
.sppb-article-info-wrap h3 {
font-size: 22px;
}	
}

.article-list .article .article-header h2 a,
.sppb-article-info-wrap h3 a {
color: inherit;
transition: all 500ms ease;
display: block;
}

.article-list .article .article-header h2 a:hover,
.sppb-article-info-wrap h3 a:hover {
color: var(--maincolor);
}

.blog-list .article-list .article .article-header h2 a:hover {color: #fff;}

.article-list .article .article-info,
.sppb-addon-articles .sppb-article-meta {
order: 1;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 35px;
margin: 0;
background: #2a2a2a;
padding: 12px 20px;
border-radius: 4px;
display: inline-flex;
box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 5%);
margin-bottom: 20px;
}

.blog-list .article-list .article .article-info {
margin-bottom: 10px;
box-shadow: none;
padding: 0;
background: transparent;
margin-top: 30px;	
}

@media (max-width: 768px) {
.article-list .article .article-info,
.sppb-addon-articles .sppb-article-meta {
gap: 20px;
}	
}

.article-info > span,
.sppb-addon-articles .sppb-article-meta > span {
font-weight: 500;
color: #a0a0a0;
font-size: 12px;
text-transform: uppercase;
line-height: 1.2;
display: flex;
align-items: center;
position: relative;
}

.blog-list .article-info > span {
	font-size: 14px;
	color: #fff;
}

.article-info > span:not(:last-child):after,
.sppb-addon-articles .sppb-article-meta > span:not(:last-child):after {
	content: '';
	position: absolute;
	right: -21px;
	top: 7px;
	background: #808080;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.article-info > span.createdby, .sppb-article-meta > span.sppb-meta-author {order: 1;}
.article-info > span.published, .sppb-article-meta > span.sppb-meta-date {order: 2;}
.article .article-info > span.category-name, .sppb-article-meta > span.sppb-meta-category {order: 3;}
.article-info > span.hits {order: 4;}


.article-info > span + span::before,
.sppb-addon-articles .sppb-article-meta > span + span:before {
padding: 0;
margin: 0;
}

.article-info > span:before,
.sppb-addon-articles .sppb-article-meta > span:before {
font-size: 18px;
color: var(--maincolor);
margin-right: 5px !important;
font-family: 'Line Awesome Free';
font-weight: 400;
}

.article-info > span.createdby:before, .sppb-article-meta > span.sppb-meta-author:before {content: "\f2bd";}
.article-info > span.published:before, .sppb-article-meta > span.sppb-meta-date:before {content: "\f086";}
.article-info > span.category-name:before, .sppb-article-meta > span.sppb-meta-category:before {display: none !important;}
.article-info > span.hits:before {content: ;}

body:not(.blog-list) .article-info > span.category-name {margin: 0 !important;}

body:not(.blog-list) .article-info > span.category-name a, .sppb-article-meta > span.sppb-meta-category > a {

}

body:not(.blog-list) .article-info > span.category-name:hover a, .sppb-article-meta > span.sppb-meta-category > a:hover {

}

.article-introtext, .sppb-article-introtext {
order: 3;
line-height: 1.8;
margin-bottom: 15px;
}

.article-introtext p {margin-bottom: 0;}

.article-list .article .readmore, .sppb-readmore {order: 4;}

.article-list .article .readmore a,
.sppb-readmore {
display: inline-block;
text-transform: uppercase;
position: relative;
font-size: 14px;
color: #fff;
font-weight: 500;
letter-spacing: 0.4px;
border-bottom: 2px solid var(--maincolor);
padding: 4px 0;
transition: .3s;
}

.blog-list .article-list .article .readmore a {font-size: 16px;}

.article-list .article .readmore a:hover,
.sppb-readmore:hover {
border-color: #fff;
color: var(--maincolor);
}

ul.pagination {
	display: flex;
justify-content: space-between;
margin-top: 30px;
padding: 25px 30px 25px;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.page-link {
	padding: 0;
color: #565151;
font-weight: 500;
height: 54px;
width: 54px;
line-height: 54px !important;
display: inline-block;
border: 1px solid #ddd;
position: relative;
border-radius: 50% !important;
margin-right: 15px;
text-align: center;
}

.page-item.active .page-link,
.page-link:hover {
border-color: transparent;
background-color: var(--maincolor);
color: #fff;
}

.page-item.active .page-link,
.page-link:hover {
border-color: transparent;
background-color: var(--maincolor);
color: #fff !important;
}

.pagination-counter {margin-top: 40px;}

/* SINGLE ARTICLE */

.article-details .sppb-row-container {padding: 0; max-width: 100%;}

.article-details {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	border-radius: 0px;
}

.article-details > *:not(.article-full-image) {
	order: 4;
	width: 100%;
}

.article-details .article-header {
	order: 3;
}

.article-details .article-info {
	margin-top: 1rem !important;
	order: 2;
	margin-bottom: 0;
}

.article-details .article-info span + span {margin-left: 40px;}

.article-details .article-info span:before {margin-right: 5px !important;}

.article-details .article-can-edit {
	position: relative;
	margin-bottom: 0px;
}

.article-details .article-header h1, .article-details .article-header h2 {
font-size: 30px;
padding-top: 15px;
padding-bottom: 20px;
color: #fff;
}

.article-details .article-full-image {
position: relative;
display: block;
	order: 1;
margin-bottom: 0px;
	width: 100%;
}

.article-details .article-full-image img {
	display: inline-block;
	border-radius: 20px;
	width: 100%;
}


.article-details .article-ratings-social-share {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0;
	border-bottom: 0;
	margin: 0;
  align-items: center;
  order: 6;
-ms-flex: 0 0 40%;
flex: 0 0 40%;
max-width: 40%;
margin: 50px 0 0 !important;
border-top: 0;
border-bottom: 0;
}

.tags {
	list-style: none;
	padding: 0;
	margin: 0 !important;
	border: none;
	justify-content: center;
display: block;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
margin: 40px 0 0 !important;
border-top: 0;
padding: 0;
border-bottom: 0;
  order: 5;
}

@media (max-width: 768px) {
.tags, .article-details .article-ratings-social-share {
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
display: block !important;
margin-top: 10px !important;
margin-bottom: 10px !important;
}
.article-social-share {
	float: none;
}
}

.tags:before {

}

.tags > li {
	margin: 0;
}

.tags > li a {
display: block;
background: #fff;
color: #000;
font-size: 14px;
font-weight: 500;
padding: 7px 20px;
border-radius: 30px;
transition: .3s;
border: none;
}

.tags > li a:hover {
background: #000000;
color: #fff;
border-color: transparent;
}

.tags > li + li {margin-left: 4px;}

.article-social-share .social-share-icon:before {
font-size: 16px;
font-weight: 600;
line-height: 1.2;
content: "Share News :";
margin-right: 12px;
color: var(--thirdcolor);
}

.article-social-share .social-share-icon ul {
	display: inline-block;
}

.article-social-share .social-share-icon ul li:not(:last-child) {
	margin-right: 20px;
}

.article-social-share .social-share-icon ul li a {
padding: 0;
width: auto;
height: auto;
color: inherit;
display: block;
font-size: 16px;
line-height: inherit;
text-align: center;
border-radius: 50%;
border: none;
}

.article-social-share .social-share-icon ul li a:hover {
background: transparent;
color: var(--secondcolor);
}


.article-details .article-author-information {
padding: 0;
margin-bottom: 0;
text-align: left;
border: 0;
margin: 0;
border: 0;
-webkit-box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.07);
box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.07);
border-radius: 12px;
padding: 40px;
margin-top: 60px;
margin-bottom: 0;
order: 7;
}

.article-details .article-author-information > .d-flex {
gap: 40px;
align-items: center;
}

.article-details .article-author-information > .d-flex .flex-shrink-0 img {

}

.article-details .article-author-information h5 {
color: var(--thirdcolor);
font-weight: normal;
line-height: 1.2;
font-size: 20px;
font-weight: 800;
margin-bottom: 15px;
}

.article-details .article-author-information .author-bio {
margin-bottom: .5rem !important;
}

.author-website {color: inherit; margin-left: 4px;}

.author-website a,
.author-website a:hover {color: var(--maincolor);}

#article-comments {
	border-top: 0px solid #f5f5f5;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
  order: 9;
  width: 100%;
margin-top: 40px;
padding-top: 0px;
}


.article-details ul.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
	padding: 0;
}

.article-details .page-link,
.article-details .page-link:hover {
	background: transparent;
	padding: 0;
	border: none;
	margin-right: 0;
	font-weight: 600;
	color: var(--maincolor) !important;
}

.article-details .pagenavigation {
	order: 8;
width: 100%;
margin-top: 60px;
padding-top: 60px;
border-top: 1px solid #e7e7e7;
}

.article-details .pagenavigation .pagination {
	justify-content: space-between;
}

.article-details .pagenavigation .btn {
background: #F4F4F4;
border-radius: 12px;
display: block;
line-height: 1;
padding: 11px 20px;
position: relative;
color: var(--maincolor);
border: none;
}

.article-details .pagenavigation .btn:hover {
	background: var(--maincolor);
	color: #ffffff;
}

/* */


/* ANIMATION */

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceLoader {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}
/* */

@media (min-width: 320px) {#sp-top .sppb-container-inner {max-width: 400px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 576px) {#sp-top .sppb-container-inner {max-width: 540px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 768px) {#sp-top .sppb-container-inner {max-width: 720px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 992px) {#sp-top .sppb-container-inner {max-width: 960px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 1200px) {#sp-top .sppb-container-inner {max-width: 1140px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 320px) {#sp-bottom1  .sppb-container-inner {max-width: 400px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 576px) {#sp-bottom1  .sppb-container-inner {max-width: 540px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 768px) {#sp-bottom1  .sppb-container-inner {max-width: 720px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 992px) {#sp-bottom1 .sppb-container-inner {max-width: 960px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 1200px) {#sp-bottom1  .sppb-container-inner {max-width: 1140px;width: 100%;
margin-right: auto;
margin-left: auto;}}


@media (min-width: 320px) {#sp-banner  .sppb-container-inner {max-width: 400px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 576px) {#sp-banner  .sppb-container-inner {max-width: 540px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 768px) {#sp-banner  .sppb-container-inner {max-width: 720px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 992px) {#sp-banner .sppb-container-inner {max-width: 960px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 1200px) {#sp-banner  .sppb-container-inner {max-width: 1140px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 320px) {#sp-footer  .sppb-container-inner {max-width: 400px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 576px) {#sp-footer  .sppb-container-inner {max-width: 540px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 768px) {#sp-footer  .sppb-container-inner {max-width: 720px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 992px) {#sp-footer .sppb-container-inner {max-width: 960px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 1200px) {#sp-footer  .sppb-container-inner {max-width: 1140px;width: 100%;
margin-right: auto;
margin-left: auto;}}


@media (min-width: 320px) {.contained-row  .sppb-container-inner {max-width: 400px;width: 100%;
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;}}
@media (min-width: 576px) {.contained-row  .sppb-container-inner {max-width: 540px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 768px) {.contained-row  .sppb-container-inner {max-width: 720px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 992px) {.contained-row .sppb-container-inner {max-width: 960px;width: 100%;
margin-right: auto;
margin-left: auto;}}
@media (min-width: 1200px) {.contained-row  .sppb-container-inner {max-width: 1140px;width: 100%;
margin-right: auto;
margin-left: auto;}}

/* J4 Optimization */

.sp-megamenu-wrapper, #sp-header > .container > .container-inner > .row > div:not(#sp-logo) > .sp-column,
#sp-header > .row > div:not(#sp-logo) > .sp-column  {display: block !important;}

#sp-header .sp-module {
	margin-left: 0px !important; 
}

@media (min-width: 1400px) {#sp-top  .sppb-container-inner {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {#sp-bottom1  .sppb-container-inner {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {#sp-position4  .sppb-container-inner {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {#sp-footer  .sppb-container-inner {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {.contained-row  .sppb-container-inner {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {.contained-section {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {.sp-slider .sppb-container {max-width: 1130px;width: 100%;
margin-right: auto;
margin-left: auto;}}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .sppb-row-container {
max-width: 1130px;
}
}

@media (min-width: 1200px) {
body:not(.com-content) #sp-component .sppb-row-container .sppb-row {
	max-width: 770px;
	width: 100%;
	margin-left: auto;
}
}

:root {
	--secondcolor: #ffd40d;
}